#### #### #### ####
#### C++
#### #### #### ####

# CMake
cmake-build-*/

#### #### #### ####
#### Git
#### #### #### ####

lib/

#### #### #### ####
#### IDEs
#### #### #### ####
**/.vs/
**/.vscode/

**/.idea/
